<body>
  <div class="box">
    <span class="borderLine"></span>
    <form>
        <h2>Sign in</h2>
      <div class="inputBox">
        <input type="text" required="required" />
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="password" required="required" />
        <span>password</span>
        <i></i>
      </div>
      <div class="link">
        <a href="#1">Forget Password</a>
        <a href="#2">SignUp</a>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
</body>
